@import "src/app/styles/variables.scss";

.processing-spinner {
    display: block;
    height: 120px;
    width: 120px;
    border: 8px solid $app-text-color-bright;
    border-radius: 50%;
    border-right: 8px solid transparent;
    animation: rotation 1s infinite linear;
}
@keyframes rotation {
    from { }
    to { transform: rotate(360deg); }
}
