@import "src/app/styles/variables.scss";

.city-settings {
    position: relative;
}
.city-display-container {
    .city-display-name {
        color: $app-text-color-bright;
        font-size: 36px;
        display: block;
    }
    .city-controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row;
        .city-display-change {
            color: $app-text-color-bright;
            font-size: 14px;
            cursor: pointer;
            margin-right: 16px;
        }
        .city-display-geolocate {
            color: $app-text-color-bright;
            font-size: 14px;
            cursor: pointer;
            display: flex;
            flex-flow: row;
            align-items: center;
            img {
                height: 20px;
            }
            .geolocation-error {
                color: #ff9d9d;
            }
        }
        &.hidden {
            visibility: hidden;
        }
    }
}
.city-select-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
}
.city-select-container {
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    .city-select-input {
        flex-flow: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        app-city-input-field {
            flex: 1 1 auto;
            max-width: 100%;
            display: flex;
        }
        .city-select-ok {
            flex: 1 1 40px;
            max-width: 40px;
            display: flex;
            font-size: 22px;
            cursor: pointer;
            color: $app-main-color;
        }
        app-spinner {
            display: flex;
            margin: 0 12px;
        }
    }
    app-countdown {
        position: relative;
        top: -5px
    }
    .city-select-list {
        .city-list-item {
            padding: 4px 8px;
            border-top: 1px solid $app-divider-color;
            font-size: 12px;
            color: $app-secondary-color;
            cursor: pointer;
            &:hover {
                background-color: $app-accent-background;
            }
            &:last-child {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }
}
