@import "/src/app/styles/variables.scss";

.app-wrapper {
    color: $app-text-color-bright;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: $app_main-color;
    .app-container {
        height: 80vh;
        width: 900px;
        .app-controls {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        .weather-display-container {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            .main-info {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                padding: 150px 0;
                .weather-state {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: flex-end;
                    .temperature {
                        line-height: 1;
                        position: relative;
                        font-size: 132px;
                        display: block;
                        &:after {
                            content: '\00B0';
                            position: absolute;
                            top: 0;
                        }
                    }
                    .weather-icon {
                        height: 150px;
                    }
                }
                .weather-description {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    .description {
                        font-weight: 100;
                        font-size: 24px;
                        display: block;
                    }
                }

            }
            .additional-info {
                width: 100%;
                flex-flow: row;
                justify-content: space-between;
                align-items: flex-end;
                display: flex;
                .additional-info-box {
                    flex: 1 1 25%;
                    .additional-info-title {
                        font-weight: 100;
                        font-size: 16px;
                        display: block;
                        margin-bottom: 8px;
                    }
                    .additional-info-value {
                        font-size: 22px;
                        display: block;
                    }
                }
            }

        }
        .weather-processing-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 100%;
            flex-flow: row wrap;
            justify-content: center;
            padding: 200px 0;
        }
    }
}

